.res {
   width: 40%;
   height: 30%;
   margin: 100px auto;
   background-color: #b1dcf5;
   background-image: url(../Image/img_1.jpeg);
   background-size: cover;
   background-repeat: no-repeat;
   border: 1px solid black;
   box-shadow: 0 8px 8px rgba(0,0,0,0.15);
   flex-direction: column;
   padding: 2%;
   box-sizing: border-box;
   text-align: center;
}
.res1 {
   width: 90%;
   height: 25px;
   background-color: #f2f7c9;
   
   box-shadow: 0 12px 12px rgba(0,0,0,0.15);
   text-align: center;
   margin: 8% auto;
   font-size: 90%;
   font-weight: 700;
   padding: 1%;
   box-sizing: border-box;
   border-radius: 5px;
}
.res2 {
   font-size: 100%;
   font-style: italic;
   font-weight: 700;
   color: #d8e709;
}
.res3 {
   font-size: 120%px;
   font-style: italic;
   font-weight: 700;
   color: rgb(17, 5, 124);
}
.matematik {
   width: 40%;
   height: 500px;
   border: 1px solid black;
   box-shadow: 0 8px 8px rgba(0,0,0,0.15);
   margin: 20px auto;
   box-sizing: border-box;
   flex-direction: column;
   text-align: center;
}
h2 {
   font-weight: 700;
   font-style: italic;
   color: brown;
}
.m1 {
   width: 80%;
   border: 1px solid black;
   margin: 2% auto;
   background-color: #f2f7c9;
   line-height: 1.5rem;
   
}